body {
  background-color: powderblue;
}
@font-face {
    font-family: Sylar Stencil;
    src: url('Sylar-Stencil.ttf');
}
img.wiel {
  position: absolute;
  left: 100px;
  top: 30px;
}
h1 {
  color: rgba(138, 80, 14, 0.705);
    font-family: Sylar Stencil;
    src: url('/Sylar-Stencil.ttf') format('truetype');
    src: url('Sylar-Stencil.woff2') format('woff2');
    src: url('Sylar-Stencil.woff') format('woff');
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px
    position: absolute;
    left: 100px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
    
  }


p {
  color: red;
}